/* Banner Styles */

.banner {
    padding-top: 2rem;
}


/* Button Styles */

.btn-login {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Border Styles */

.border {
    max-width: 356px;
    border: 1px solid gray;
    border-radius: .50rem;
    margin-left: auto;
    margin-right: auto;
}
    
 .border p {
     text-align: center;
     margin-top: 0rem;
 }
 
 .border p a {
    color: #2699FB;
}   

