/* Header Styles */

.login-hd {
    display: flex;
    justify-content: flex-start;
}

.backward-arrow {

}

.login-hd-text {
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
}

.btn-login {
    margin-top: 1rem;
}
