/* Banner Styles */

.banner {
    padding-top: 2rem;
}

/* Form Styles */

.ct-lgn-form {
    margin-bottom: 2rem;
}

.terms-of-service {
    margin: 1.5rem 0rem;
}

/* Button Styles */

.btn-continue {
    margin: 0rem;
}

/* Border Styles */

.border {
    max-width: 356px;
    border: 1px solid gray;
    border-radius: .50rem;
    margin-left: auto;
    margin-right: auto;
}
    
 .border p {
     text-align: center;
     margin-top: 0rem;
 }
 
 .border p a {
    color: #2699FB;
}

