/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* Container Styles */

.container {
    margin: 0 auto;
}

/* Header Styles */

header {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.hd-text {
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0px;
}

/* Banner Styles */

.banner {
    padding-top: 92px;
    margin-bottom: 2rem;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Form Styles */

.ct-lgn-form {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

input {
    display: block;
    padding: 1rem 1rem;
    margin: 1rem 0;
    width: 100%;
    color: gray;
    border: 1px solid gray;
    outline: none;
    
}

button {
    width: 100%;
    height: 60px;
    background-color: #2699FB;
    border: none;
    color: white;
}

.terms-of-service {
    margin: 2rem 0;
}


