/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header Styles */

.hd-text {
    text-align: center;
}

/* Banner Styles */

.banner {
    margin: 0, auto;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Form Styles */

.input-form {
    text-align: center;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    
}