/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* Container Styles */

.container {
    margin: 0 auto;
}

/* Header Styles */

header {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

.hd-text {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.35rem;
}

/* Hamburger Menu Styles */

.hamburger-menu {
    
}

.icon {
    font-size: 1.35rem;
}

.mobile-nav {
    background-color: #333333;
    position: absolute;
    text-align: center;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
}

#myLinks {
    display: none;
}

ul#myLinks  {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 0px;
}

#myLinks li {
    list-style: none;
    margin: 20px;
}

/* Banner Styles */

.banner {
    padding-top: 92px;
    margin-bottom: 2rem;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Form Styles */

.ct-lgn-form {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

input {
    display: block;
    padding: 1rem 1rem;
    margin: 1rem 0;
    width: 100%;
    color: gray;
    border: 1px solid gray;
    outline: none;
    
}

button {
    margin: .5rem;
    width: 160px;
    height: 60px;
    background-color: #2699FB;
    border: none;
    color: white;
}

.terms-of-service {
    margin: 2rem 0;
}

.buttons {
    display: flex;
    justify-content: center;
}


/* Media Queries */


@media only screen and (min-width: 768px) {

    .mobile-nav {
        background-color: #333333;
        position: relative;
        text-align: center;
        top: 71px;
        left: 0;
        right: 0;
        z-index: 1;
    }

}